pytest>=8.4.1 # Тестирование с Pytest
selenium>=4.24.0 # Selenium для автоматизации браузера
webdriver-manager>=4.0.2 # Управление WebDriver (например, chromedriver)
pluggy>=1.5.0 # Плагин для Pytest
iniconfig>=2.0.0 # Конфигурация для Pytest
